<!-- extend base layout -->
{% extends "appbuilder/base.html" %}



{% block content %}
<div class="row">
    <div id="loginbox" class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <div class="card" >
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body">

                <form class="form-signin" action="" method="post" name="login">
                    {{form.hidden_tag()}}
                    <small class="mb-3 text-muted form-text">{{_("Enter your login and password below")}}:</small>

                    <div class="form-group{% if form.errors.openid is defined %} error{% endif %} mb-0">
                        <div class="mb-3">
                            <label for="username">{{_("Username")}}:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fa fa-user"></i></div>
                                </div>
                                {{ form.username(class = "form-control", autofocus = true) }}
                            </div>
                            {% for error in form.errors.get('openid', []) %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="password">{{_("Password")}}:</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fa fa-key"></i></div>
                                </div>
                                {{ form.password(size = 80, class = "form-control") }}
                            </div>
                            {% for error in form.errors.get('openid', []) %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                        <div>
                            <input class="btn btn-primary btn-block" type="submit" value="{{_('Sign In')}}">
                            {% if appbuilder.sm.auth_user_registration %}
                            <a href="{{appbuilder.sm.get_url_for_registeruser}}" class="btn btn-block btn-primary" data-toggle="tooltip" rel="tooltip"
                            title="{{_('If you are not already a user, please register')}}">
                                {{_('Register')}}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
