{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, m in messages %}
            {% if category %}
                <div class="alert alert-dismissible fade show alert-{{ category }}">
            {% else %}
                <div class="alert alert-dismissible fade show alert-info">
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ m }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
