
{% macro locale_menu(languages) %}
{% set locale = session['locale'] %}
{% if not locale %}
    {% set locale = 'en' %}
{% endif %}
{% if languages.keys()|length > 1 %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle f16" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
       <i class="flag {{languages[locale].get('flag')}}"></i>
    </a>
    <div class="dropdown-menu">
        {% for lang in languages %}
            {% if lang != locale %}
                <a class="dropdown-item f16" tabindex="-1" href="{{appbuilder.get_url_for_locale(lang)}}">
                  <i class="flag {{languages[lang].get('flag')}}"></i> - {{languages[lang].get('name')}}
                </a>
            {% endif %}
        {% endfor %}
        </div>
</li>
{% endif %}
{% endmacro %}



{{ locale_menu(languages) }}
{% if not current_user.is_anonymous %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           <span class="fa fa-user"></span> {{g.user.get_full_name()}}
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{appbuilder.get_url_for_userinfo}}"><span class="fa fa-fw fa-user"></span>{{_("Profile")}}</a>
            <a class="dropdown-item" href="{{appbuilder.get_url_for_logout}}"><span class="fa fa-fw fa-sign-out"></span>{{_("Logout")}}</a>
        </div>
    </li>
{% else %}
    <li class="nav-item"><a class="nav-link" href="{{appbuilder.get_url_for_login}}">
    <i class="fa fa-fw fa-sign-in"></i>{{_("Login")}}</a></li>
{% endif %}
