


{% set menu = appbuilder.menu %}
{% set languages = appbuilder.languages %}

<nav class="navbar navbar-dark bg-dark navbar-expand-lg {{menu.extra_classes}}" role="navigation">
   <div class="container">
        {% if appbuilder.app_icon %}
            <a class="navbar-brand" href="{{appbuilder.get_url_for_index}}">
            <img src="{{appbuilder.app_icon}}" height="100%" width="auto">
            </a>
        {% else %}
                <span class="navbar-brand">
                <a href="{{appbuilder.get_url_for_index}}">
                {{ appbuilder.app_name }}
                </a>
                </span>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% include 'appbuilder/navbar_menu.html' %}
            </ul>
            <ul class="navbar-nav">
                {% include 'appbuilder/navbar_right.html' %}
            </ul>
        </div>
   </div>
</nav>
